<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body style="background-color:#00356b;">



          {{ content }}

     

    <!-- Import JavaScript -->
    {% include bottom-js.html %}

  </body>
</html>