<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body style="background-color:#00356b;">

  <!-- Header -->
  {% include header.html %}

  <!-- Container for sidebar navigation and main content -->
  <div class="bg-white pt-3">
    <div class="container">
      <main id="main-content" tabindex="-1">
        <h1 class="mb-0">{{ page.title }}</h1>
        <div class="row">
          <!-- Sidebar Navigation -->
          <div class="col-lg-4">
            {% include sidebar-nav.html %}
          </div><!-- Main Content -->
          <div class="col-lg-8">
            {{ content }}
          </div>
        </div>
      </main>
    </div>
  </div>
  <!-- Yale Footer -->
  {% include footer.html %}

  <!-- Import JavaScript -->
  {% include bottom-js.html %}

</body>

</html>