<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body style="background-color: #00356b;">
  <div class="bg-white">
    <!-- Header -->
    {% include header.html %}

    <!-- Container for sidebar navigation and main content -->

    <div class="container">
      <main>
        {% if page.sidebar == "components" and page.url =="/components" %}
        <div id="main-content" tabindex="-1"></div>
        {% endif %}
        {% if page.sidebar == "about" or page.sidebar == "documentation" %}
        <div id="main-content" tabindex="-1"></div>
        {% endif %}
        <div class="row">

          <!-- Sidebar Navigation -->
          <div class="col-lg-4">
            {% include sidebar-nav.html %}
          </div>

          <!-- Main Content -->
          <div class="col-lg-8">
            {% if page.sidebar == "components" and page.url !="/components" %}
            <div id="main-content" tabindex="-1"></div>
            {% endif %}
            <h1 class="mb-0">{{ page.title }}</h1>
            {{ content }}
          </div>

        </div>
      </main>
    </div>
  </div>
  <!-- Yale Footer -->
  {% include footer.html %}

  <!-- Import JavaScript -->
  {% include bottom-js.html %}

</body>

</html>