<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body style="background-color:#00356b;">

      <!-- Header -->
      {% include header.html %}

    <!-- Container for main content -->
 
    <main id="main-content" tabindex="-1" class="bg-white">
        <div class="container">
          <div class="row">
              <div class="col">
                  <h1>{{ page.title }}</h1>

                  {{ content }}
              </div>
            </div>
          </div>

         

    </main>

    <!-- Yale Footer -->
      {% include footer.html %}

    <!-- Import JavaScript -->
    {% include bottom-js.html %}

  </body>
</html>
