<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body style="background-color:#00356b;">

      <!-- Header -->
      {% include header.html %}

    <!-- Container for main content -->
   <div class="bg-white">

                  {{ content }}
    
    </div>

    <!-- Yale Footer -->
      {% include footer.html %}

    <!-- Import JavaScript -->
    {% include bottom-js.html %}

  </body>
</html>
