{% if page.sidebar == "components" %}
<nav
  aria-label="components"
  id="component-nav"
  tabindex="-1"
  class="sidebar-nav d-none d-lg-block mt-2"
>
  <h2 class="h5">Components</h2>
  <ul>
    {% for component in site.components %}
    <li>
      <a
        href="{{ component.url | relative_url }}"
        class="text-font-family-sans-serif"
        >{{ component.title }}</a
      >
    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %} {% if page.sidebar == "documentation" %}

<nav aria-label="table of contents" class="sidebar-nav d-none d-lg-block">
  <h2 class="h5">Table of Contents</h2>
  <ul>
    <li>
      <a href="#getting-started" class="text-font-family-sans-serif"
        >Getting Started</a
      >
    </li>
    <li>
      <a href="#adding-yale-fonts" class="text-font-family-sans-serif"
        >Adding Yale Fonts</a
      >
    </li>
    <li>
      <a href="#working-with-source-files" class="text-font-family-sans-serif"
        >Working with Source Files</a
      >
    </li>
    <li>
      <a href="#contributing" class="text-font-family-sans-serif"
        >Contributing</a
      >
    </li>
    <li>
      <a
        href="#extending-the-ui-component-library"
        class="text-font-family-sans-serif"
        >Extending</a
      >
    </li>
    <li>
      <a href="#libraries-and-dependencies" class="text-font-family-sans-serif"
        >Dependencies</a
      >
    </li>
    <li>
      <a
        href="#version-history-and-changelog"
        class="text-font-family-sans-serif"
        >Changelog</a
      >
    </li>
  </ul>
</nav>
{% endif %} {% if page.sidebar == "about" %}

<nav aria-label="table of contents" class="sidebar-nav d-none d-lg-block">
  <h2 class="h5">Table of Contents</h2>
  <ul>
    <li>
      <a href="#what-is-it" class="text-font-family-sans-serif">What is it?</a>
    </li>
    <li>
      <a href="#how-does-it-help" class="text-font-family-sans-serif"
        >How Does it Help?</a
      >
    </li>
    <li>
      <a href="#where-do-i-start" class="text-font-family-sans-serif"
        >Where Do I Start?</a
      >
    </li>
    <li>
      <a href="#training" class="text-font-family-sans-serif">Training</a>
    </li>
    <li>
      <a href="#questions" class="text-font-family-sans-serif">Questions?</a>
    </li>
  </ul>
</nav>
{% endif %}
