/**
Developers should implement their own custom no-js styles, based on their own breakpoint
 */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.accessible-flyout-menu .element__hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

.accessible-flyout-menu {
  font-family: 'yalenew', Georgia, 'Times New Roman', serif;
}

/* Desktop Styles*/

.accessible-flyout-menu-desktop .menu {
  padding: 0;
}

.accessible-flyout-menu-desktop .menu-item {
  display: inline-block;
  position: relative;
  margin-bottom: 0.5rem;
}

.accessible-flyout-menu-desktop .menu-item-link {
  display: inline-block;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.20833333;
  letter-spacing: 0.4px;
  padding: 1.125rem 1.4375rem 0.875rem;
  text-decoration: none;
  color: #00356b;
}

.accessible-flyout-menu-desktop .menu-item.open .menu-item-link {
  box-shadow: inset 4px 0 0 #00356b, inset 0 1px 0 #ddd, inset -1px 0 0 #ddd;
  background-color: white;
  z-index: 2;
  position: relative;
}

.accessible-flyout-menu-desktop .menu-item.open.overflow-right .menu-item-link {
  box-shadow: inset -4px 0 0 #00356b, inset 0 1px 0 #ddd, inset 1px 0 0 #ddd;
}

.accessible-flyout-menu-desktop .expand-sub-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1.25rem;
  border: 0;
  padding: 0;
  background: transparent;
}

.accessible-flyout-menu-desktop .menu-item.open .expand-sub-button {
  z-index: 2;
}

.accessible-flyout-menu-desktop .menu-item.open .expand-sub-inner:after {
  transform: rotate(180deg);
}

.accessible-flyout-menu-desktop .expand-sub-inner:after {
  content: '';
  display: inline-block;
  position: relative;
  top: -1px;
  margin-top: 0.8rem;
  border-style: solid;
  border-width: 0.5rem 0.3125rem 0 0.3125rem;
  border-color: #222222 transparent transparent transparent;
  transition: transform 0.1s;
}

.accessible-flyout-menu-desktop .submenu {
  position: absolute;
  left: 0;
  display: block;
  visibility: hidden;
  background-color: white;
  padding: 0;
  width: 15.5rem;
  min-width: 125%;
  box-shadow: inset 4px 0 0 #00356b, inset 0 1px 0 #ddd, inset -1px 0 0 #ddd,
    inset 0 -1px 0 #ddd;
  margin-top: -1px;
  padding: 1.625rem 1.5rem;
}

.accessible-flyout-menu-desktop .menu-item.open .submenu {
  visibility: visible;
  z-index: 1;
}

.accessible-flyout-menu-desktop .menu-item.overflow-right .submenu {
  right: 0;
  left: auto;
  box-shadow: inset -4px 0 0 #00356b, inset 0 1px 0 #ddd, inset 1px 0 0 #ddd,
    inset 0 -1px 0 #ddd;
}

.accessible-flyout-menu-desktop .submenu-item {
  display: block;
}

.accessible-flyout-menu-desktop .submenu-item-link {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
  border-bottom: 1px solid #ddd;
  letter-spacing: 0.54px;
  padding: 0.75rem 0 0.625rem;
  text-decoration: none;
  display: block;
  color: #00356b;
}

/*Mobile*/
/*Mobile Styles*/
.accessible-flyout-menu-mobile .menu {
  padding: 0;
}

.accessible-flyout-menu-mobile .menu-item {
  display: block;
  border-color: #978d85;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  position: relative;
}

.accessible-flyout-menu-mobile .menu-item:first-of-type {
  border-top: 1px solid;
}

.accessible-flyout-menu-mobile .menu-item.open {
  background-color: #f9f9f9;
}

.accessible-flyout-menu-mobile .menu-item-link {
  flex-grow: 1;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.20833333;
  color: #00356b;
  text-decoration: none;
  letter-spacing: 0.4px;
  padding: 0.875rem 3.25rem 0.875rem 0.875rem;
  display: block;
}

.accessible-flyout-menu-mobile .expand-sub-button {
  background-color: transparent;
  border: 0;
  border-style: solid;
  border-color: #978d85;
  border-left-width: 1px;
  border-bottom-width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  height: 54px;
  padding: 0 1.5rem;
}

.accessible-flyout-menu-mobile .menu-item.open .expand-sub-button {
  border-bottom-width: 1px;
}

.accessible-flyout-menu-mobile .expand-sub-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accessible-flyout-menu-mobile .menu-item .expand-sub-inner:before {
  content: '\f067';
  font-family: FontAwesome;
}

.accessible-flyout-menu-mobile .menu-item.open .expand-sub-inner:before {
  content: '\f068';
  font-family: FontAwesome;
}

.accessible-flyout-menu-mobile .submenu {
  display: none;
  padding: 0;
  list-style: none;
  width: 100%;
}

.accessible-flyout-menu-mobile .menu-item.open .submenu {
  display: block;
}

.accessible-flyout-menu-moble .submenu-item {
  display: block;
}

.accessible-flyout-menu-mobile .submenu-item-link {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0.54px;
  padding: 0.75rem 0 0.625rem 2.625rem;
  text-decoration: none;
  display: block;
  color: #00356b;
}
