@import 'bootstrap/scss/card';

.card-body {
  color: find-accessible-color($card-color, $card-bg, 4.5);
}

.card-link {
  @include hover {
    text-decoration: $card-link-hover-text-decoration;
  }
}

.card-header {
  color: find-accessible-color($card-cap-color, $card-bg, 5);
}

.custom-card-cap.dark-blue {
  border-top: solid 1.25rem $blue-dk !important;
}

.custom-card-cap.green {
  border-top: solid 1.25rem $green !important;
}

.custom-card-cap.orange {
  border-top: solid 1.25rem $orange !important;
}

.custom-card-cap.blue {
  border-top: solid 1.25rem $blue-med !important;
}
