@import 'bootstrap/scss/close';

.close {
  color: find-accessible-color($close-color, $body-bg, 3);
  transition: $close-transition;
  opacity: 1;

  // Override <a>'s hover style
  @include hover-focus {
    color: find-accessible-color($close-color, $body-bg, 3);
    text-decoration: underline;
    @include font-size($close-font-size * 1.25);
  }

  &:not(:disabled):not(.disabled) {
    @include hover-focus {
      opacity: 1;
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px inset;
  }
}
