@import 'bootstrap/scss/popover';

.popover-header {
  margin-top: 0em;
}

.popover-header:before {
  content: '\f05a';
  font-family: FontAwesome;
  margin-right: 10px;
}

a[data-toggle='popover'] {
  margin: 2rem 0rem 2rem;
}
