// tk tk table variants

table {
  width: 100%;
  margin-bottom: $table-font-size;
  font-size: $table-font-size;
  line-height: $table-line-height;
  color: $table-color;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.
  border: $table-border-width solid $table-border-color;

  th,
  td {
    padding: $table-cell-padding-y $table-cell-padding;
    vertical-align: top;
    border: $table-border-width solid $table-border-color;
  }

  th {
    padding: $table-header-padding-y $table-header-padding-x;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
    background-color: $table-th-bg;
    color: $table-th-color;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

  th {
    font-family: $table-th-font-family;
    font-weight: $table-th-font-weight;
    color: $table-th-color;
  }
}

tbody tr:nth-of-type(#{$table-striped-order}) {
  background-color: $table-accent-bg;
  color: $table-color;
}

tbody tr:nth-of-type(#{$table-striped-order}) th {
  color: $table-th-color;
}

.table-borderless {
  border: 0;

  th,
  td,
  thead th,
  tbody + tbody {
    border: 0;
  }
}

.table-responsive {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        // Prevent double border on horizontal scroll due to use of `display: block;`
        > .table-bordered {
          border: 0;
        }
      }
    }
  }
}

.yale-table {
  border-width: 0;

  th {
    @extend .h5;
    background-color: $yale-table-th-bg;
    color: find-accessible-color($yale-table-th-color, $yale-table-th-bg);
    border: 0;
  }

  td {
    border-width: 0;
    border-right: 1px solid $yale-table-td-border-color;
  }
}
