// stylelint-disable declaration-no-important

//
// Text
//

.text-monospace {
  font-family: $font-family-monospace !important;
}
.text-font-family-sans-serif {
  font-family: $font-family-sans-serif !important;
}
.text-font-family-serif {
  font-family: $font-family-serif !important;
}
.text-font-family-mallory {
  font-family: $font-family-mallory !important;
}
.text-font-family-mallory-semi {
  font-family: $font-family-mallory-semi !important;
}
.text-font-family-yale {
  font-family: $font-family-yale !important;
}
.sans-caps {
  @include sans-caps();
}

.text-font-family-sans-italic {
  font-family: 'Mallory-LightItalic', 'Gill Sans', 'Gill Sans MT', Calibri,
    sans-serif !important;
  font-style: italic;
}

.text-font-family-sans-medium {
  font-family: 'Mallory-Medium', 'Gill Sans', 'Gill Sans MT', Calibri,
    sans-serif !important;
}

.text-font-family-sans-bold {
  font-family: 'Mallory-Bold', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif !important;
}

.text-font-family-serif-bold {
  font-family: 'YaleNew-Bold', Georgia, 'Times New Roman', serif !important;
}

.text-font-family-serif-italic {
  font-family: 'YaleNew-Italic', Georgia, 'Times New Roman', serif !important;
  font-style: italic;
}

.text-font-family-serif-bold-italic {
  font-family: 'YaleNew', Georgia, 'Times New Roman', serif !important;
  font-weight: bold;
  font-style: italic;
}

// Alignment

.text-justify {
  text-align: justify !important;
}
.text-wrap {
  white-space: normal !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-truncate {
  @include text-truncate;
}

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text#{$infix}-left {
      text-align: left !important;
    }
    .text#{$infix}-right {
      text-align: right !important;
    }
    .text#{$infix}-center {
      text-align: center !important;
    }
  }
}

// Transformation

.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}

// Weight and italics

.font-weight-light {
  font-weight: $font-weight-light !important;
}
.font-weight-lighter {
  font-weight: $font-weight-lighter !important;
}
.font-weight-normal {
  font-weight: $font-weight-normal !important;
}
.font-weight-bold {
  font-weight: $font-weight-bold !important;
}
.font-weight-bolder {
  font-weight: $font-weight-bolder !important;
}
.font-italic {
  font-style: italic !important;
}

// Contextual colors

.text-white {
  color: $white !important;
}

@each $color, $value in $theme-colors {
  @include accessible-text-emphasis-variant('.text-#{$color}', $value);
}

.text-body {
  color: $body-color !important;
}
.text-muted {
  color: find-accessible-color($text-muted, $body-bg, 4.5) !important;
}

// Misc

.text-hide {
  @include text-hide($ignore-warning: true);
}

.text-decoration-none {
  text-decoration: none !important;
  @include hover-focus() {
    text-decoration: underline !important;
  }
}

.text-break {
  word-break: break-word !important; // IE & < Edge 18
  overflow-wrap: break-word !important;
}

// Reset

.text-reset {
  color: inherit !important;
}
.text-base-size {
  font-size: $font-size-base !important;
  line-height: $line-height-base !important;
}
