/* Font-Face :: Base
------------------------------------------------------ */
// Follows standard font-weight properties
// http://www.w3.org/TR/css-fonts-3/#font-weight-prop
//
// YaleNew Fonts by Matthew Carter
// Converted from OTF fonts
// ---------------------------------------------------

// @font-face {
//     font-family: "yale";
//     src: url("../fonts/YaleNew/YaleNew-normal-normal/yalenew-roman-webfont.eot");
//     src: url("../fonts/YaleNew/YaleNew-normal-normal/yalenew-roman-webfont.eot?#iefix") format("embedded-opentype"),
//          url("../fonts/YaleNew/YaleNew-normal-normal/yalenew-roman-webfont.woff2") format("woff2"),
//          url("../fonts/YaleNew/YaleNew-normal-normal/yalenew-roman-webfont.woff") format("woff"),
//          url("../fonts/YaleNew/YaleNew-normal-normal/yalenew-roman-webfont.ttf") format("truetype");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "yale";
//     src: url("../fonts/YaleNew/YaleNew-normal-bold/yalenew-bold-webfont.eot");
//     src: url("../fonts/YaleNew/YaleNew-normal-bold/yalenew-bold-webfont.eot?#iefix") format("embedded-opentype"),
//          url("../fonts/YaleNew/YaleNew-normal-bold/yalenew-bold-webfont.woff2") format("woff2"),
//          url("../fonts/YaleNew/YaleNew-normal-bold/yalenew-bold-webfont.woff") format("woff"),
//          url("../fonts/YaleNew/YaleNew-normal-bold/yalenew-bold-webfont.ttf") format("truetype");
//     font-weight: bold;
//     font-style: normal;
// }

// @font-face {
//     font-family: "yale";
//     src: url("../fonts/YaleNew/YaleNew-italic-normal/yalenew-italic-webfont.eot");
//     src: url("../fonts/YaleNew/YaleNew-italic-normal/yalenew-italic-webfont.eot?#iefix") format("embedded-opentype"),
//          url("../fonts/YaleNew/YaleNew-italic-normal/yalenew-italic-webfont.woff2") format("woff2"),
//          url("../fonts/YaleNew/YaleNew-italic-normal/yalenew-italic-webfont.woff") format("woff"),
//          url("../fonts/YaleNew/YaleNew-italic-normal/yalenew-italic-webfont.ttf") format("truetype");
//     font-weight: normal;
//     font-style: italic;
// }

// @font-face {
//     font-family: "yale";
//     src: url("../fonts/YaleNew/YaleNew-italic-bold/yalenew-bolditalic-webfont.eot");
//     src: url("../fonts/YaleNew/YaleNew-italic-bold/yalenew-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
//          url("../fonts/YaleNew/YaleNew-italic-bold/yalenew-bolditalic-webfont.woff2") format("woff2"),
//          url("../fonts/YaleNew/YaleNew-italic-bold/yalenew-bolditalic-webfont.woff") format("woff"),
//          url("../fonts/YaleNew/YaleNew-italic-bold/yalenew-bolditalic-webfont.ttf") format("truetype");
//     font-weight: bold;
//     font-style: italic;
// }

// This is a separate icon font with glyphs extracted from the YaleNew OTF font
// Glyphs are assigned to 'Private Use Area' Unicodes:
// shield      "\f2a1"
// Yale        "\f2a2"
// University  "\f2a3"
// -----------------------------------------------------------------------------

// @font-face {
// 	font-family: "YaleMarks";
// 	src: url("../fonts/YaleNew/YaleNew-marks/yalemarks-webfont.eot");
// 	src: url("../fonts/YaleNew/YaleNew-marks/yalemarks-webfont.eot?#iefix") format("embedded-opentype"),
// 		 url("../fonts/YaleNew/YaleNew-marks/yalemarks-webfont.ttf") format("truetype"),
// 		 url("../fonts/YaleNew/YaleNew-marks/yalemarks-webfont.woff") format("woff"),
// 		 url("../fonts/YaleNew/YaleNew-marks/yalemarks-webfont.svg#yalenewmarks") format("svg");
// 	font-weight: normal;
// 	font-style: normal;
// }

// Roboto Condensed from Fontsquirrel.com
// --------------------------------------------

// @font-face {
//     font-family: "Roboto-Condensed";
//     src: url("../fonts/RobotoCondensed/RobotoCondensed-Regular-webfont.eot");
//     src: url("../fonts/RobotoCondensed/RobotoCondensed-Regular-webfont.eot?#iefix") format("embedded-opentype"),
//          url("../fonts/RobotoCondensed/RobotoCondensed-Regular-webfont.woff") format("woff"),
//          url("../fonts/RobotoCondensed/RobotoCondensed-Regular-webfont.ttf") format("truetype");
//     font-weight: normal;
//     font-style: normal;
// }

/* Mallory for Yale websites licensed from Frere-Jones Type, LLC
 ------------------------------------------------------------- */

//  @font-face {
//     font-family: "Mallory";
//     src: url("fonts/Mallory/Mallory/Mallory-Light.woff") format("woff"),
//     	 url("fonts/Mallory/Mallory/Mallory-Light.woff2") format("woff2");
//    	font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Mallory-LightItalic";
//     src: url("fonts/Mallory/Mallory/Mallory-LightItalic.woff") format("woff"),
//     	 url("fonts/Mallory/Mallory/Mallory-LightItalic.woff2") format("woff2");
//    	font-weight: normal;
//     font-style: italic;
// }

// @font-face {
//     font-family: "Mallory-Bold";
//     src: url("fonts/Mallory/Mallory/Mallory-Bold.woff") format("woff"),
//     	 url("fonts/Mallory/Mallory/Mallory-Bold.woff2") format("woff2");
//    	font-weight: bold;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Mallory-BoldItalic";
//     src: url("fonts/Mallory/Mallory/Mallory-BoldItalic.woff") format("woff"),
//     	 url("fonts/Mallory/Mallory/Mallory-BoldItalic.woff2") format("woff2");
//    	font-weight: bold;
//     font-style: italic;
// }

// @font-face {
//     font-family: "Mallory-Medium";
//     src: url("fonts/Mallory/Mallory/Mallory-Medium.woff") format("woff"),
//     	 url("fonts/Mallory/Mallory/Mallory-Medium.woff2") format("woff2");
//    	font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//   font-family: "Mallory-BoldItalic";
//   src: url("fonts/Mallory/Mallory/Mallory-BoldItalic.woff") format("woff"),
//   url("fonts/Mallory/Mallory/Mallory-BoldItalic.woff2") format("woff2");
//   font-weight: bold;
//   font-style: italic;
// }

// @font-face {
//     font-family: "Mallory-MediumItalic";
//     src: url("fonts/Mallory/Mallory/Mallory-MediumItalic.woff") format("woff"),
//     	 url("fonts/Mallory/Mallory/Mallory-MediumItalic.woff2") format("woff2");
//    	font-weight: normal;
//     font-style: italic;
// }
