// Customized Variables

// Color system and Color Overrides

$yale: #00356b;
$blue-dk: #00356b;
$blue-med: #286dc0;
$blue-lt: #63aaff;
$blue-xlt: #e7ebef;

$carbon: #222222;
$gray-dk: #4a4a4a;
$gray-med: #949494;
$gray-warm: #978d85;
$gray-lt: #dddddd;
$gray-xlt: #eeeeee;
$gray-shade: #f9f9f9;

$green: #5f712d;
$orange: #bd5319;
$off-white: #f9f9f9;
$white: #ffffff;
$black: #000000;
$red: #7a1a1a; // not a yale branded color
$body-text-red: #b80000;

$primary: $blue-med !default;
$secondary: $gray-warm !default;
$success: $green !default;
$info: $blue-lt !default;
$warning: $orange !default;
$danger: $red !default;
$light: $gray-lt !default;
$dark: $carbon !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    'yale': $yale,
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
  ),
  $theme-colors
);

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: theme-color('dark') !default;


// Options Overrides
$enable-pointer-cursor-for-buttons: false !default;

// Body Overrides
$body-color: $carbon !default;
//BS default
$body-bg: $white !default;

// Link Style Overrides
$link-decoration: underline !default;
$link-hover-color: $carbon !default;
//BS default
$link-color: theme-color("primary") !default;

// Paragraph Style Overrides
$paragraph-margin-bottom: 1.375rem !default;
//we added paragraph-margin-top
$paragraph-margin-top: $paragraph-margin-bottom !default;

// Grid breakpoints Overrides
$grid-breakpoints: (
  xs: 0,
  sm: 500px,
  md: 740px,
  lg: 980px,
  xl: 1220px,
) !default;

// Grid containers Overrides
$container-max-widths: (
  sm: 480px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
) !default;

// Components
//
// Define common padding and border radius sizes and more.
//border-width is same as in BS variables
$border-width:                1px !default;
$border-color: $gray-warm !default;

$border-radius: 0 !default;
$border-radius-lg: 0 !default;
$border-radius-sm: 0 !default;

// Typography Overrides
$font-family-mallory: 'Mallory', 'Gill Sans', 'Gill Sans MT', Calibri,
  sans-serif;
$font-family-mallory-semi: 'Mallory-Medium', 'Gill Sans', 'Gill Sans MT',
  Calibri, sans-serif;
$font-family-yale: 'YaleNew', Georgia, 'Times New Roman', serif;

// stylelint-disable value-keyword-case
$font-family-sans-serif: $font-family-mallory !default;
$font-family-serif: $font-family-yale !default;

//BS default
$font-family-base: $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base: 1.125rem !default;
//$font-size-base-md-up is our variable (not from BS). where is this being used?
$font-size-base-md-up: 1.25rem !default;

$line-height-base: 1.6 !default;

$headings-margin-bottom: 1.5rem !default;
$headings-font-family: $font-family-serif !default;
$headings-font-weight: normal !default;
$headings-color: $carbon !default;
//** headings-line-height is a BS default used in our custom heading variables below
$headings-line-height:        1.2 !default;

$lead-font-size: 1.5rem !default;
$lead-font-weight: 400 !default;
//$lead-font-size-md-up, $lead-font-family, and $lead-line-height are not from BS. 
$lead-font-size-md-up: 1.875rem !default;
$lead-font-family: $font-family-serif !default;
$lead-line-height: 1.33333333 !default;

$h1-font-size: 2.125rem !default;
//** all of the below variables are NOT in BS 
$h1-font-size-md-up: 3.4375rem !default;
$h1-line-height: $headings-line-height !default;
$h1-font-weight: $headings-font-weight !default;
$h1-color: $headings-color !default;
$h1-font-family: $headings-font-family !default;
$h1-margin-top: 1.875rem !default;
$h1-margin-bottom: $h1-margin-top !default;
//** end **//
$h2-font-size: 1.875rem !default;
//** all of the below variables are NOT in BS 
$h2-font-size-md-up: 2.5rem !default;
$h2-line-height: $headings-line-height !default;
$h2-font-weight: $headings-font-weight !default;
$h2-color: $blue-med !default;
$h2-font-family: $headings-font-family !default;
$h2-margin-top: 1.375rem !default;
$h2-margin-bottom: 1.375rem !default;
//** end **//
$h3-font-size: 1.625rem !default;
//** all of the below variables are NOT in BS 
$h3-font-size-md-up: 1.875rem !default;
$h3-line-height: $headings-line-height !default;
$h3-font-weight: $headings-font-weight !default;
$h3-color: $blue-dk !default;
$h3-font-family: $headings-font-family !default;
$h3-margin-top: 1.5625rem !default;
$h3-margin-bottom: 1.5625rem !default;
//** end **//
$h4-font-size: 1.5rem !default;
//** all of the below variables are NOT in BS 
$h4-font-size-md-up: $h4-font-size !default;
$h4-line-height: $headings-line-height !default;
$h4-font-weight: $headings-font-weight !default;
$h4-color: $headings-color !default;
$h4-font-family: $headings-font-family !default;
$h4-margin-top: 0.875rem !default;
$h4-margin-bottom: 0.875rem !default;
//** end **//
$h5-font-size: 0.875rem !default;
//** all of the below variables are NOT in BS 
$h5-font-size-md-up: $h5-font-size !default;
$h5-line-height: $headings-line-height !default;
$h5-font-weight: $headings-font-weight !default;
$h5-color: $blue-dk !default;
$h5-font-family: $font-family-mallory-semi !default;
$h5-margin-top: 1.25rem !default;
$h5-margin-bottom: $h5-margin-top !default;
$h5-letter-spacing: 0.75px !default;
$h5-word-spacing: 1.25px !default;
$h5-text-transform: uppercase !default;
//** end **//
$h6-font-size: 0.875rem !default;
//** all of the below variables are NOT in BS 
$h6-font-size-md-up: $h6-font-size !default;
$h6-line-height: $headings-line-height !default;
$h6-font-weight: $headings-font-weight !default;
$h6-color: $blue-dk !default;
$h6-font-family: $font-family-mallory-semi !default;
$h6-margin-top: $h5-margin-top !default;
$h6-margin-bottom: $h6-margin-top !default;
$h6-letter-spacing: 1.15px !default;
$h6-word-spacing: 1.5px !default;
$h6-text-transform: uppercase !default;
//** end **//

$small-font-size: 1rem !default;

$text-muted: #767676 !default;

// blockquotes: the only BS variables for blockquotes are blockquote-small-color, blockquote-small-font-size, and blockquote-font-size.
$blockquote-small-color: $carbon !default;
$blockquote-small-font-family: $h5-font-family !default;
$blockquote-small-font-size: $h5-font-size !default;
$blockquote-small-line-height: $h5-line-height !default;
$blockquote-small-font-weight: $h5-font-weight !default;
$blockquote-small-letter-spacing: $h5-letter-spacing !default;
$blockquote-small-word-spacing: $h5-word-spacing !default;
$blockquote-small-text-transform: $h5-text-transform !default;
$blockquote-small-text-align: right !default;
$blockquote-font-size: 1.25rem !default;
$blockquote-font-size-lg-up: 1.5rem !default;
$blockquote-line-height: 1.875 !default;
$blockquote-font-family: $font-family-serif !default;
$blockquote-letter-spacing: 0.1px !default;
$blockquote-margin-y: 2.5rem !default;
$blockquote-margin-y-lg-up: 5rem !default;
$blockquote-padding: 2.5rem !default;
$blockquote-padding-lg-up: 3.75rem !default;
$blockquote-padding-xl-up: 4.6875rem !default;
$blockquote-border-width: $border-width !default;
$blockquote-border-color: $gray-lt;

$hr-border-color: $gray-med !default;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.
//only table-cell-padding is a BS variable that we override
$table-margin-bottom: 1.5rem !default;
$table-font-size: 1rem !default;
$table-line-height: 1.5;
$table-cell-padding: 1em !default;
$table-cell-padding-y: 1em !default;
$table-cell-padding-x: 1.375em !default;
$table-header-padding-y: 1em !default;
$table-header-padding-x: 1.5625em !default;
//more table overrides
$table-bg: $white !default;
$table-accent-bg: $gray-shade !default;
$table-striped-order: even !default;
//yale specific variables
$table-th-bg: $blue-xlt !default;
$table-th-color: $carbon !default;
$table-th-font-family: $font-family-base !default;
$table-th-font-weight: bold !default;
$yale-table-th-bg: $blue-med !default;
$yale-table-th-color: $white !default;
$yale-table-td-border-color: $gray-lt !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: 1rem !default;
$input-btn-padding-x: 1.25rem !default;
$input-btn-font-family: $h5-font-family !default;
$input-btn-font-size: $h5-font-size !default;
$input-btn-line-height: $h5-line-height !default;

$input-btn-letter-spacing: $h5-letter-spacing !default;
$input-btn-word-spacing: $h5-word-spacing !default;
$input-btn-text-transform: $h5-text-transform !default;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
//yale specific variables
$btn-letter-pacing: $input-btn-letter-spacing !default;
$btn-word-spacing: $input-btn-word-spacing !default;
$btn-text-transform: $input-btn-text-transform !default;
$btn-disabled-font-style: italic !default;
//overrides
$btn-link-disabled-color: $gray-med !default;

// Form Labels
//yale specific variables
$input-label-font-family: $font-family-mallory-semi !default;
$input-label-color: $body-color !default;
//overrides
$input-placeholder-color: $gray-dk !default;
$input-plaintext-color: $gray-dk !default;
//yale specific variables
$input-placeholder-font-family: $font-family-base !default;
$input-placeholder-font-style: italic !default;
$input-disabled-label-font-family: $font-family-base !default;
$input-disabled-label-font-style: italic !default;
$input-disabled-label-color: $input-label-color !default;

// Forms
//overrides
$label-margin-bottom: 0.25rem !default;
$input-disabled-bg: $gray-xlt !default;
$input-color: $body-color !default;
$input-border-color: $gray-warm !default;
//yale specific
$form-check-label-font-family: $font-family-base !default;
$required-label-after-color: $body-text-red !default;
//overrides
$input-group-addon-bg: $gray-xlt !default;
$custom-select-disabled-color: $gray-med !default;
$custom-select-disabled-bg: $gray-xlt !default;
$custom-select-indicator-color: $gray-dk !default;
$custom-control-indicator-border-color: $gray-med !default;
$custom-control-label-disabled-color: $gray-med !default;
$custom-select-disabled-color: $gray-med !default;
$custom-select-disabled-bg: $gray-lt !default;
$custom-select-indicator-color: $gray-dk !default;
$custom-range-track-bg: $gray-lt !default;
$custom-range-thumb-disabled-bg: $gray-med !default;

// Form validation
//overrides
$form-feedback-invalid-color: $body-text-red !default;
$form-feedback-icon-invalid-color: $body-text-red !default;

// Navs
//overrides
$nav-link-disabled-color: $gray-med !default;
$nav-tabs-border-color: $gray-lt !default;
$nav-tabs-link-hover-border-color: $gray-xlt $gray-xlt $nav-tabs-border-color !default;
$nav-tabs-link-active-color: $gray-dk !default;
//bs default
$nav-tabs-link-active-bg: $body-bg !default;
//overrides
$nav-tabs-link-active-border-color: $gray-lt $gray-lt $nav-tabs-link-active-bg !default;
$nav-divider-color: $gray-xlt !default;

// Navbar
$navbar-dark-color: $white !default;
$navbar-dark-hover-color: $white !default;
$navbar-dark-disabled-color: $gray-xlt !default;
$navbar-dark-toggler-border-color: $white !default;
$navbar-light-color: $yale !default;
$navbar-light-hover-color: $carbon !default;
$navbar-light-active-color: $carbon !default;
$navbar-light-disabled-color: $gray-med !default;
$navbar-light-toggler-border-color: $carbon !default;

$navbar-active-font-weight: bold !default;

// Dropdowns
//
// Dropdown menu container and contents.
//overrides
$dropdown-divider-bg: $gray-xlt !default;
$dropdown-link-color: $carbon !default;
$dropdown-link-hover-bg: $gray-xlt !default;
$dropdown-link-disabled-color: $gray-med !default;
$dropdown-header-color: $gray-dk !default;


// Pagination
//overrides
$pagination-border-color: $gray-med !default;
$pagination-hover-bg: $gray-xlt !default;
$pagination-hover-border-color: $gray-lt !default;
$pagination-disabled-color: $gray-med !default;
$pagination-disabled-border-color: $gray-lt !default;

// Jumbotron
//overrides
$jumbotron-color: $carbon !default;
$jumbotron-bg: $gray-xlt !default;

// Cards
//overrides
$card-cap-color: $carbon !default;
$card-color: $carbon !default;
//yale specific variable
$card-link-hover-text-decoration: underline !default;

// Progress bars
//overrides
$progress-bg: $gray-xlt !default;
//yale specific variable
$progress-border: $border-width solid black !default;

// Breadcrumbs
//overrides
$breadcrumb-padding-y: 0 !default;
$breadcrumb-padding-x: 0 !default;
$breadcrumb-item-padding: 0.5rem !default;
//yale specific variables
$breadcrumb-word-spacing: 1.5px !default;
$breadcrumb-margin-top: 2.5rem !default;
//more overrides
$breadcrumb-margin-bottom: 3.125rem !default;
$breadcrumb-bg: $body-bg !default;
$breadcrumb-divider-color: $carbon !default;
$breadcrumb-active-color: $carbon !default;
//yale specific variables
$breadcrumb-item-font-size: $h5-font-size !default;
$breadcrumb-item-line-height: $h5-line-height;
$breadcrumb-item-font-family: $font-family-mallory-semi !default;
$breadcrumb-item-text-transform: uppercase !default;
$breadcrumb-link-color: $link-color !default;
//override
$breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+);

// List group
//overrides
$list-group-color: $body-color !default;
$list-group-border-color: $border-color !default;
$list-group-item-padding-y: 0.5rem !default;
$list-group-item-padding-x: 1rem !default;
$list-group-hover-bg: $primary !default;
$list-group-disabled-color: $gray-med !default;
$list-group-action-color: $gray-dk !default;
$list-group-action-hover-color: $white !default;
$list-group-action-active-color: $white !default;
$list-group-action-active-bg: $primary !default;
//yale specific variables
$list-group-active-icon: $breadcrumb-divider;
$list-group-active-icon-padding: 0.25rem;
$list-group-active-icon-hover-padding: 0.5rem;
$list-group-item-action-decoration: none !default;
$list-group-disabled-font-style: normal !default;

// Image thumbnails
//overrides
$thumbnail-border-color: $gray-lt !default;

// Figures
//overrides
$figure-caption-font-size: 1rem !default;
$figure-caption-color: $gray-dk !default;

// Close
//yale specific variables
$close-text-shadow: 0 1px 0 $white !default;
$close-transition: font-size 0.2s ease-in-out !default;

// Code
//overrides
$code-color: $body-text-red !default;
$kbd-bg: $carbon !default;
$pre-color: $code-color !default;
//yale specific variables
$pre-bg: $gray-xlt !default;
$pre-border-color: $border-color !default;

@import 'bootstrap/scss/variables';

//The following are all Yale Specific Variables
// Yale Topper

$yale-topper-background: $yale !default;
$yale-topper-color: $white !default;

$yale-topper-logo-font-size: 1.5rem !default;
$yale-topper-line-height: 1.3 !default;
$yale-topper-padding-y: 0.5rem !default;

// Yale Footer

$yale-footer-background: $yale !default;
$yale-footer-color: $white !default;
$yale-footer-logo-font-size: 1.125rem !default;
$yale-footer-logo-padding-y: 30px !default;

// Yale Logos

$yale-mark-font-size: 2rem !default;

// Caps Mixin
$caps-font-size: 0.875rem !default;
$caps-font-family: $font-family-mallory-semi !default;
$caps-line-height: $headings-line-height !default;
$caps-font-weight: $headings-font-weight !default;
$caps-letter-spacing: 0.75px !default;
$caps-word-spacing: 1.25px !default;
$caps-text-transform: uppercase !default;


