---
layout: no_sidebar
title: Yale UI Component Library
permalink: /
---

<p>The Yale UI Component Library was made to help designers and developers build interfaces that adhere to Yale's
    usability, visual identity, and accessibility guidelines.
</p>
<div class="row">
    <div class="col-lg-2"><a href="{{ '/documentation' | relative_url }}"
            class="btn btn-warning d-flex justify-content-center align-items-center mt-2">Get Started</a></div>
    <div class="col-lg-2"><a href="{{ '/components' | relative_url }}"
            class="btn btn-success d-flex justify-content-center align-items-center mt-2">Components</a></div>
</div>

<h2>Questions?</h2>
Email the <a href="mailto:accessibility@yale.edu">Accessibility Team at Yale</a>
<div class="mb-5"></div>